<!-- ============================================
; Title:  index.js
; Author: Professor Krasso
; Date:   05 February 2023
; Description: Pets-R-Us dog grooming app
;=========================================== -->

<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>

  <link rel="stylesheet" href="/styles/site.css" />

  <!-- Google fonts for Oswald -->
  <link
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://kit.fontawesome.com/7e85f88570.js"
    crossorigin="anonymous"
  ></script>
</head>

<div class="landing" id="customers-list">
  <%- include('./partials/_header.ejs') %>

  <main>
    <div class="first-main" id="boarding-first-main">
      <div class="container">
        <div class="boarding-first-main-box"></div>
        <div class="boarding-main-txt">
          <h1>
            Welcome to our <br />
            Customers Page!
          </h1>

          <p>
            We understand that your furry friend is an important part of your
            <br />
            family, and we're dedicated to providing them with a safe,<br />
            comfortable, and fun home away from home.
          </p>
        </div>
        <img src="../images/B1.png" />
      </div>
    </div>

    <div class="sixth-main" id="second-bording-main">
      <div class="container">
        <div class="package-box-txt"><h1>customers List</h1></div>

        <div class="testimonial-card-conta">
          <div class="testimonial-card">
            <table id="bookTable" class="table">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Customer Id</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <% customers.forEach((customer, i) => { %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td><%= customer.customerId %></td>
                  <td><%= customer.email %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include('./partials/_footer.ejs') %>
</div>
